<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.spring.dao.boardMemberDao">

	<select id="selectMusicalList" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=1 AND TICKET_NO<=7
		]]>
	</select>
	
	<select id="selectMusicalList2" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,PTITLE FROM TICKETDB WHERE TICKET_NO>=8 AND TICKET_NO<=12
		]]>
	</select>
	
	<select id="selectMusicalList3" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=13 AND TICKET_NO<=17
		]]>
	</select>
	
	<select id="selectMusicalList4" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE,RANKING FROM TICKETDB WHERE TICKET_NO>=18 AND TICKET_NO<=22
		]]>
	</select>
	
	<select id="selectMusicalList5" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=23 AND TICKET_NO<=25
		]]>
	</select>
	
	
	<select id="selectMovieList" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=26 AND TICKET_NO<=32
		]]>
	</select>
	
	<select id="selectMovieList2" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,PTITLE FROM TICKETDB WHERE TICKET_NO>=33 AND TICKET_NO<=37
		]]>
	</select>
	
	<select id="selectMovieList3" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=38 AND TICKET_NO<=42
		]]>
	</select>
	
	<select id="selectMovieList4" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE,RANKING FROM TICKETDB WHERE TICKET_NO>=43 AND TICKET_NO<=47
		]]>
	</select>
	
	<select id="selectMovieList5" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=48 AND TICKET_NO<=50
		]]>
	</select>
	
	
	<select id="selectTheaterList" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=51 AND TICKET_NO<=57
		]]>
	</select>
	
	<select id="selectTheaterList2" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,PTITLE FROM TICKETDB WHERE TICKET_NO>=58 AND TICKET_NO<=62
		]]>
	</select>
	
	<select id="selectTheaterList3" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=63 AND TICKET_NO<=67
		]]>
	</select>
	
	<select id="selectTheaterList4" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE,RANKING FROM TICKETDB WHERE TICKET_NO>=68 AND TICKET_NO<=72
		]]>
	</select>
	
	<select id="selectTheaterList5" resultType="MusicalBean">
	<![CDATA[
		SELECT TICKET_NO,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE TICKET_NO>=73 AND TICKET_NO<=75
		]]>
	</select>
	
	<select id="selectTicketInfo" parameterType="Integer" resultType="MusicalBean">
		SELECT TICKET_NO, TITLE, RUNDATE, LOC_NAME, IMGSRC, REVIEWS, GRADE, RUNTIME, PERFORMER, PRICE FROM TICKETDB
		WHERE TICKET_NO=#{VALUE}
	</select>
	
	<select id="selectBookingInfo" parameterType="Integer" resultType="MusicalBean">
		SELECT TICKET_NO, TITLE, LOC_NAME, IMGSRC, REVIEWS, GRADE, RUNTIME FROM TICKETDB
		WHERE TICKET_NO=#{VALUE}
	</select>
	
	
<!-- 	<select id="selectSeqNumber" resultType="Integer"> -->
<!-- 		SELECT MUSICALLIST_DWQ.NEXT -->
<!-- 	</select> -->

</mapper>